.header,
.footer {
  /* background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%); */
  background-color: #1e1e2d;
  /* border-radius: 18px; */
  color: #ccc;
}

.sidebar {
  /* border-style: dotted; */
  border: 2px solid #1e1e2d !important;
  /* border-radius: 16px; */
  box-sizing: inherit;
}

body {
  font-family: "Nunito";
  font-size: 15px;
}

/* HEADER */
.header {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  left: 0;
  /* background-color: #d69191; */
  padding: 10px 10px;
}

.header-right {
  float: right;
}

/* FOOTER */
.footer {
  position: fixed;
  overflow: hidden;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  /* padding: 3px; */
  /* background-color: #d69191; */
  text-align: center;
}

/* SLIDE BAR */
.sidebar {
  top: 61px;
  bottom: 0px;
  /* border-radius: 10px; */
  margin: 0;
  padding: 0;
  width: 200px;
  /* background-color: #bb8275; */
  position: fixed;
  height: 100%;
  /* padding: 8px; */
  left: 0;
  overflow: auto;
}

.sidebar a {
  /* margin-top: 10px; */
  display: block;
  color: black;
  padding: 15px;
  text-decoration: none;
  border-bottom: 2px;
  border-style: none none solid none;
  /* border-radius: 4px; */
  /* margin-top: 5px; */
}

.sidebar a.active {
  background-color: #1e1e2d;
  color: white;
}

div.content {
  margin-top: 120px;
  margin-left: 200px;
  padding: 1px 16px;
}

div.contentLogin {
  padding: 1px 16px;
  margin-top: 70px;
  display: flex;
}

/* FORM */
* {
  box-sizing: border-box;
}

.booking{
  background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
}

.edit{
  background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
}

.history{
  background-image: linear-gradient(to right, #2c475e 0%, #101d25  51%, #205370  100%);
}

.delete{
  background-image: linear-gradient(to right, #EB3349 0%, #F45C43  51%, #EB3349  100%);
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: 'Nunito';
  font-size: 15px;
}

input[type="datetime-local"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: 'Nunito';
  font-size: 15px;
}

input[type="password"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #1e1e2d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 19px;
  cursor: pointer;
  font-family: 'Nunito';
}

button {
  white-space: nowrap;
  text-align: center;
  background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 19px;
  cursor: pointer;
  font-family: "Nunito";
}

.container {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
  margin-top: 10px;
}
.col-33 {
  float: left;
  width: 33%;
  margin-top: 6px;
}
.col-67 {
  float: left;
  width: 67%;
  margin-top: 6px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  border-radius: 10px;
  max-width: 100px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin: 25px 0;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #1e1e2d;
  color: #ffffff;
  text-align: left;
}
table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:first-of-type {
  border-bottom: 2px solid #1e1e2d;
}

table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.marginAuto {
  margin: auto;
}

.displayFlex {
  display: flex;
}

.register {
  padding: 5px;
  text-align: center;
  border: 1px solid #d8dee2;
  border-radius: 5px;
}

.register a{
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .sidebar {
    top: 61px;
    padding-left: 20px;
    width: 100%;
    height: auto;
    /* background-color: #1e1e2d; */
    position: fixed;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}